body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #99ff;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700;
}

h1 {
    font-size: 36px;
    margin: 0;
}

p {
    font-size: 18px;
    color: #c;
}

.hero {
    background-image: url('hero-background3.jpg');
    background-size: cover;
    color: #99ff;
    text-align: center;
    padding: 150px 0;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    background-color: #ffd700;
    color: #333;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ffc107;
}

.services {
    padding: 80px 0;
    text-align: center;
}

.services h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

.service {
    display: inline-block;
    width: 300px;
    margin-right: 50px;
    vertical-align: top;
}

.service img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.service h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.service p {
    font-size: 16px;
    line-height: 1.6;
}

.success-stories {
    padding: 80px 0;
}

.success-stories h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.story {
    text-align: center;
    margin-bottom: 50px;
}

.story img {
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.story h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.story p {
    font-size: 16px;
    line-height: 1.6;
}

.about {
    padding: 0px 0;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 30px;
}
.main-content {
    padding-top: 160px; /* Adjust this value to match the height of your header */
}
.about p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
   
}
.about p1 {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.about img {
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.contact {
    padding: 80px 0;
    text-align: center;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.contact p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
}

form {
    display: inline-block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #555;
}

footer {
    background-color:  #99ff;
    color: #fff;
    padding: 30px 0;
}

footer p {
    font-size: 16px;
    margin: 0;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 20px;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #ffd700;
}
